<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let sens of sensors | keyvalue" size-sm="6" size-md="4" size-lg="3">
              <ion-card>
                  <ion-card-header>
                    <ion-avatar slot="start">
                      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar>
                    <ion-card-title>{{ sens.key }}</ion-card-title>
                    <ion-card-subtitle>Last updated: {{ sens.value.ts }}</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                  </ion-card-content>
                  <ion-item *ngIf="sens.value.fields.temperature">
                    <ion-icon name="thermometer" slot="start"></ion-icon>
                    <ion-label>{{ sens.value.fields.temperature }}</ion-label>
                  </ion-item>
                  <ion-item *ngIf="sens.value.fields.humidity">
                    <ion-icon name="water" slot="start"></ion-icon>
                    <ion-label>{{ sens.value.fields.humidity }}</ion-label>
                  </ion-item>
                </ion-card>
            </ion-col>
          </ion-row>
    </ion-grid>
</ion-content>
